@page
@model FinalProject.Pages.Sellyourcars.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Sellyourcar.Seller</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sellyourcar.ModelNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sellyourcar.ModelNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sellyourcar.Seller)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sellyourcar.Seller)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sellyourcar.ModelName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sellyourcar.ModelName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sellyourcar.YearBought)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sellyourcar.YearBought)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sellyourcar.CostPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sellyourcar.CostPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sellyourcar.PartMissing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sellyourcar.PartMissing)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sellyourcar.PartDamage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sellyourcar.PartDamage)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Sellyourcar.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
