@page
@model FinalProject.Pages.Bookappointments.IndexModel

@{
    ViewData["Title"] = "Index";
}
<body style="font-family:Cambria; color:black;">
    <h1>Appointments</h1>

    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Bookappointment[0].PersonName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bookappointment[0].PersonId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bookappointment[0].AppointmentDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Bookappointment)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PersonName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PersonId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AppointmentDate)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </body>
